<h2>Soft skills</h2>
<mat-chip-list aria-label="Fish selection">
  <mat-chip color="accent" selected>creativity</mat-chip>
  <mat-chip color="primary" selected>stress-resistance</mat-chip>
  <mat-chip color="accent" selected>flexibility</mat-chip>
  <mat-chip color="primary" selected>great desire to study</mat-chip>
  
</mat-chip-list>
<h2>Hobbies</h2>
<mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" selected>Reading book</mat-chip>
    <mat-chip color="accent" selected>Learning foreign languages</mat-chip>
    <mat-chip color="primary" selected>Baking</mat-chip>
  </mat-chip-list>
  
