
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon >menu</mat-icon>
      </button>
      <h1>Curriculum Vitae</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button routerLink="/">Main</a>
        <a mat-button routerLink="/skills">Skills</a>
        <a mat-button routerLink="/experience">Experience</a>
        <a mat-button routerLink="/about-me">About me</a>
  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  
<router-outlet></router-outlet>


