<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Roksolana Dutchak</mat-card-title>
      <mat-card-subtitle>Trainee Web UI Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="itemImageUrl" alt="Photo of a Shiba Inu" width = auto;>
    <mat-card-content>
      <p>
        I am a hardworking and ambitious individual with a great passion for Web development. 
        <br />
        I am eager to be challenged in order to grow and further improve my IT skills.
        <br />
        My greatest passion in life is using my technical know-how to benefit other people and organisations.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><a href="mailto:dytchakro@gmail.com">
        <mat-icon aria-hidden="false" aria-label="email">email</mat-icon>
      </a>
      </button>
      <button mat-button><a href = "https://github.com/roksolanka15">GitHub</a></button>
      <button mat-button>
        <a href="tel:+380976477302">
          <mat-icon aria-hidden="false" aria-label="phone_android">phone_android</mat-icon>
        </a>
      </button>
      <button mat-button><a href="https://www.linkedin.com/in/roksolana-dutchak-294398177">LinkedIn</a> </button>
    </mat-card-actions>
  </mat-card>
  
